*, ::after, ::before{
    box-sizing: border-box;
}

:root{
    --box-size: 150px;
    --character-size: calc(var(var(--box-size) * .8));
}

.heading{
    display:flex;
    justify-content: center;
    flex-direction: row-reverse;
}

h1{
    position:fixed;
    text-align: center;
    margin-top: 2%;
}

#restartButton{
    position:fixed;
    top:3%;
    left:1%;
    height:3rem;
    width:7rem;
    border-radius: 50px;
    font-family: 'Press Start 2P';
    z-index: 3;
}

body{
    height: 100%;
    margin: 0;
    background: url(/images/space.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Press Start 2P';
    color:white;
}


.players{
    margin-top: 7rem;
    margin-left: 3rem;
    display:flex;
    justify-content: start;
    flex-direction: column; 
}

.blink_me {
    animation: blinker 1.5s linear;
  } 
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

#dog {
    margin-left:5%;
    height:75px;
    width:150px;
}

#cat{
    margin-left:5%;
    height:100px;
    width: 162px;
}

#dog:hover,
#cat:hover {
cursor: pointer;
}

.game-board{
    margin: 0 auto;
    width: 25vw;
    height: 22vh;
    display: grid;
    justify-content: center;
    justify-items:center;
    align-content: center;
    align-items:center;
    grid-template-columns: repeat(3, auto);
}

.game-board.x .box:not(.x):not(.y):hover{
    content: url(/images/PirateNyanCat.gif);
    background-color:lightpink;
}
.game-board.y .box:not(.x):not(.y):hover{
    content: url(/images/fiesta-dog.gif);
    background-color:turquoise;
}

#playButton{
    grid-column: 2/3;
    margin-top: 10%;
    height:3rem;
    width:7rem;
    border-radius: 50px;
    background-color: white;
    font-family: 'Press Start 2P';
    color:black;
    z-index: 1;
}

#playButton:hover,
#restartButton:hover{
    background-color: turquoise;
    color:white;
}

.box{
    width:var(--box-size);
    height:var(--box-size);
    border:5px solid black;
    box-shadow: 5px 5px 5px 2px;
    color: black;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor: grabbing;
}

.box.x,
.box.y {
    cursor:not-allowed;
}

/* .box:hover{
    background-color:turquoise;
} */

.box.x{
    content: url(/images/PirateNyanCat.gif);
}

.box.y{
    content: url(/images/fiesta-dog.gif);
}

.win-message{
    display:none;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/images/space-gif-bg-2.gif) 100%;
    background-size: cover;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.win-message.show{
    display:flex;
}

.start-window {
    display:none;
    position:fixed;
    height: 100%;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* background-color: rgba(0, 0, 0, .95); */
    background: url(/images/galaxy-bg2.gif) 100%;
    background-size: cover;
    justify-content: center;
    z-index: 1;
    padding: 5px;
    text-align: center;
}

#initial-header{
    margin-top: 10%;
}


.start-window.show{
    display:flex;
}

#first-p{
margin-top: 7%;
margin-left: 10%;
margin-right: 10%;
line-height: 4rem;
}

#personal-logo{
    position:fixed;
    top:84%;
    left:90.5%;
    height: 7em;
    width: 7em;
    z-index: 1;
    border-radius: 5px;
    opacity: 80%;
}

 audio{
    position: fixed;
    top: 3%;
    left: 91%;
    height: 3rem;
    width: 7em;
    border-radius: 50px;
    font-family: 'Press Start 2P';
    z-index: 6;
} 

audio::-webkit-media-controls-panel:hover {
    background-color: turquoise;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline{
    display:none;
}