
/* MAIN SETTINGS */

* {
    box-sizing: border-box;
}

:root {
    --box-size: 150px;
    --character-size: calc(var(var(--box-size) * .8));
}

body {
    margin: 0;
    background: url(/images/space.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Press Start 2P';
    color: white; 
    height: 100%;
}

/* INITIAL STARTUP WINDOW */

.start-window {
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    text-align: center;
    background: url(/images/galaxy-bg2.gif) 100%;
    background-size: cover;
    z-index: 1;
}


.start-window.show {
    display: flex;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.blink_me {
    animation: blinker 2s linear;
  } 
  

#initial-header {
    display: fixed;
    margin-top: 10%;
}

#first-p {
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    line-height: 4rem;
}

.heading {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

/* AUDIO SETTINGS */

audio {
    position: fixed;
    top: 3%;
    left: 91%;
    height: 3rem;
    width: 7em;
    border-radius: 50px;
    font-family: 'Press Start 2P';
    z-index: 2;
} 

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline {
    display: none;
}

audio::-webkit-media-controls-panel:hover {
    background-color: turquoise;
}

/* RESTART BUTTON SETTINGS */

#restartButton {
    position: fixed;
    top: 3%;
    left: 1%;
    height: 3rem;
    width: 7rem;
    border-radius: 50px;
    font-family: 'Press Start 2P';
    z-index: 2;
}

/* MAIN GAME WINDOW */

h1 {
    text-align: center;
    margin-top: 6%;
}


#battle-display {
    margin-left: -20%;
}

.players {
    display: flex;
    justify-content: start;
    flex-direction: column; 
    margin-top: 2%;
    margin-left: 10%;
    width: 25%;
}

#cat {
    height: 100px;
    width: 162px;
}

#dog {
    height: 75px;
    width: 150px;
}

#cat:hover,
#dog:hover {
    cursor: pointer;

}

/* GAMEBOARD AND BOX SETTINGS */

.game-board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    width: 15vw;
    height: 12vh;
}

.game-board.x .box:not(.x):not(.y):hover {
    content: url(/images/PirateNyanCat.gif);
    background-color: lightpink;
}
.game-board.y .box:not(.x):not(.y):hover {
    content: url(/images/fiesta-dog.gif);
    background-color: turquoise;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--box-size);
    width: var(--box-size);
    border: 5px solid black;
    box-shadow: 5px 5px 5px 2px;
    color: black;
    cursor: grabbing;
}

.box.x,
.box.y {
    cursor: not-allowed;
}

.box.x {
    content: url(/images/PirateNyanCat.gif);
}

.box.y {
    content: url(/images/fiesta-dog.gif);
}

/* PLAY BUTTON SETTINGS */

#playButton {
    position: fixed;
    height: 3rem;
    width: 7rem;
    margin-top: 22%;
    border-radius: 50px;
    background-color: white;
    color: black;
    font-family: 'Press Start 2P';
    z-index: 1;
}

#playButton:hover,
#restartButton:hover {
    background-color: turquoise;
    color:white;
}

/* WIN / LOSE / DRAW WINDOW */

.win-message {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/images/space-gif-bg-2.gif) 100%;
    background-size: cover;
}

.win-message.show {
    display: flex;
}

/* PERSONAL LOGO */

#personal-logo {
    position: fixed;
    top: 84%;
    left: 90.5%;
    height: 7em;
    width: 7em;
    border-radius: 20px;
    opacity: 80%;
    z-index: 1;
}